.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   display: flex;
   align-items: center;
}

.navigation {
   display: flex;
   gap: 30px;
}

.navigation a {
   font-size: var(--font-16);
   font-weight: 400;
   font-style: normal;
   color: var(--color-white);
   text-decoration: none;
   text-transform: uppercase;
}
