.wrapper {
   display: flex;
   gap: 30px;
   justify-content: space-between;

   margin-top: 60px;
   margin-bottom: 130px;
}

.call-to-action {
   font-size: var(--font-30);
   font-weight: 500;
   font-style: normal;
   color: var(--color-white);
   text-transform: capitalize;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-content: flex-start;

   width: 100%;
   max-width: 540px;
}

.form-page {
   max-width: 600px;
}

.form input,
textarea {
   width: 100%;
   padding: 25px 15px;

   font-family: Urbanist, sans-serif;
   font-size: var(--font-16);
   font-weight: 500;
   font-style: normal;
   color: var(--color-grey-light);

   background-color: var(--color-extra-black);
   border: none;
}

.message {
   padding: 5px;
   font-size: var(--font-14);
   text-align: center;
}

.error {
   color: var(--color-white);
   background-color: var(--color-red-50);
}

.success {
   background-color: rgb(40 167 69);
}

@media (width <= 600px) {
   .wrapper {
      display: flex;
      flex-direction: column;

      margin-top: 60px;
      margin-bottom: 70px;
      padding: 0 30px;
   }

   .form {
      margin-top: 15px;
   }

   .call-to-action {
      font-size: var(--font-23);
      font-weight: 500;
      font-style: normal;
      line-height: 116%;
      text-align: center;
   }
}
