.wrapper {
   display: flex;
   justify-content: space-between;

   margin-top: 10px;
   padding: 30px 0;

   font-size: var(--font-16);
   font-weight: 500;
   font-style: normal;
   color: var(--color-grey-light);

   border-top: 1px solid var(--color-grey);
}

.icons {
   display: flex;
   gap: 10px;
}

.text {
   display: flex;
   align-items: center;
}
